
{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola Mundo</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente perferendis, incidunt aliquid, eaque qui quo laudantium officiis repudiandae tempore iste veniam quasi eius est! Sed ullam error voluptatibus delectus recusandae.</p>
    </div>
    <div class="col-4">
        <img src="./assets/img/img.png" alt="reno" class="img-thumbnail" />
    </div>
</div>


{{> footer}}